body { 
    background: #1f151b; 
    color: #FFF; 
    font-family: 'Inter', sans-serif; 
    padding: 20px; 
    margin:0;
}

h1 { 
    text-align: center; 
    color: #E7A80E; 
    margin-bottom: 30px; 
}

.container { 
    display: grid; /* flex; flex-wrap: wrap; */
    grid-template-columns: 
        repeat(auto-fit, minmax(250px,1fr));
    gap: 20px; 
    margin-bottom: 30px; 
    justify-content: center; 
    padding: 15px; 
    border-radius: 10px; 
}

.quadro {
    background: #241A1C;
    padding: 20px;
    border-radius: 10px;
    /* flex: 1 1 250px;
    max-width: 100%; */
    box-sizing: border-box;
}

input, select, button { 
    padding: 8px; 
    margin: 5px 0; 
    width: 100%; 
    border-radius: 5px; 
    border: none; 
    box-sizing: border-box; 
}

button { 
    background: #A45A49; 
    color: #FFF; 
    cursor: pointer; 
    margin-top: 5px; 
}

.card { 
    background: #181012; 
    padding: 10px; 
    border-radius: 8px; 
    margin: 5px 0; 
    word-wrap: break-word; 
}

h2 { 
    margin-bottom: 10px; 
    color: #FFF2E7; 
}

/* Ajuste linha */
.linha-top { 
    background: #241A1C;
    padding: 15px;
    border-radius: 10px; 
}
.linha-meio { 
    background: #181012;
    padding: 15px;
    border-radius: 10px; 
}
.linha-bottom { 
    background: #241A1C; 
    padding: 15px;
    border-radius: 10px; 
}

/* Ajuste responsivo com @media e formatação linhas e quadros
.linha-top .quadro { 
    flex: 1 1 250px; 
    max-width: 300px; 
}
.linha-meio .quadro { 
    flex: 1 1 300px; 
    max-width: 400px; 
}
.linha-bottom .quadro { 
    flex: 1 1 300px; 
    max-width: none; 
}

@media (max-width: 900px){
    .linha-top .quadro, .linha-meio .quadro, .linha-bottom .quadro { 
        flex: 1 1 100%; max-width: 100%; 
    } */
}

